.home-page {
    background: url('../../ComingSoon/background.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.midBlob-img {
    height: 50vh;
    width: 800px;
    display: block;
    position: absolute;
    bottom: -27vh;
    right: 20vw;
    z-index: 3;
}

.blob img {
    width: 100%;
    height: 100%;
    display: block;
}

.blobRight1-img {

    height: 65vh;
    width: 760px;
    display: block;
    position: absolute;
    bottom: -20vh;
    right: 1vw;
    z-index: 2;
}

.blobRight2-img {

    height: 85vh;
    width: 400px;
    display: block;
    position: absolute;
    bottom: -35vh;
    right: -1vw;
}

.blobLeft1-img {
    height: 97vh;
    width: 800px;
    display: block;
    position: absolute;
    bottom: -40vh;
    left: 0;
    z-index: 2;
}

.blobLeft2-img {
    height: 113vh;
    width: 800px;
    display: block;
    position: absolute;
    bottom: -40vh;
    left: 12vw;
}

.coming-soon {
    height: 233px;
    width: 500px;
    z-index: 100;
}

.soon-container {
    flex-direction: column;
    margin-top: 10vh;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 10%;
    height: 100vh;

}

.logo {
    z-index: 100;
    height: 250px;
    width: 155px;
}

.text {

    height: 3vh;
    width: 33vw;
    display: block;
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    z-index: 3;
}
@media only screen and ( max-width:1700px ) {
    .midBlob-img {
        width: 600px;

    }
    .blobRight1-img{
        width: 650px;
    }
    .text{
        width: 600px;
    }
    .blobLeft1-img{
        width: 670px;
    }
    .blobLeft2-img{
        width: 670px;
    }
}
@media only screen and ( max-width:1500px ){
 .midBlob-img {
        width: 500px;
        height:350px;

    }
    .blobRight1-img{
        width: 550px;
        height: 482px;
    }
    .blobRight2-img{
        width: 390px;
        height: 650px;
    }
    .blobLeft1-img{
        width: 550px;
        height: 687px;
    }
    .text{
        width: 490px;
        left: 4vw;
    }
    .blobLeft2-img{
        width: 470px;
        height: 760px;
    }
}
@media only screen and ( max-width:1190px ) {
    .midBlob-img {
        width: 430px;
        height:350px;
    }
    .blobRight1-img{
        width: 430px;
        height: 390px;
        right: 0;
    }

    .blobRight2-img{
        width: 347px;
        height: 560px;
    }
    .blobLeft1-img{
        width: 400px;
        height: 500px;
        bottom: -25vh;
    }
    .text{
        width: 350px;
        left: 4vw;
    }
    .blobLeft2-img{
        width: 450px;
        height: 570px;
        bottom: -25vh;
    }
    .coming-soon {
        height: 186px;
        width: 400px;
        
    }
    .logo {
        height: 230px;
        width: 142px;
    }

    
}
@media only screen and ( max-width:1000px ) {

    .text{
        width:50vw;
    }

    .coming-soon {
        height: 172px;
        width: 350px;
    }
    .logo {
        height: 120px;
        width: 74.4px;
    }
    .midBlob-img {
        width: 320px;
        height:223px;
        bottom: -12vh;
    }


    .blobRight2-img{
        width: 347px;
        height: 560px;
    }
    .text{
        width: 300px;
        left: 3vw;
    }
    .blobLeft1-img{
        width: 320px;
        height: 400px;
        bottom: -18vh;
    }
    .blobLeft2-img{
        width: 378px;
        height: 450px;
        bottom: -18vh;
    }
    
}
@media only screen and ( max-width:800px ) {

.text{
    width:50vw;
}
.coming-soon {
    height: 120px;
    width: 250px;
}
.midBlob-img {
    width: 250px;
    height:150px;
    bottom: -10vh;
right: 7vw;
}
.blobRight1-img{
    width: 260px;
    height:  240px;
    right: 0;
    bottom: -9vh;
}

.blobRight2-img{
    width: 150px;
    height:  320px;
    right: 0;
    bottom: -9vh;
}
.text{
    width: 200px;
    left: 2vw;
    height: 2vh;
}
.blobLeft1-img{
    width: 230px;
    height: 320px;
    bottom: -14vh;
}
.blobLeft2-img{
    width: 260px;
    height: 420px;
    bottom: -30vh;
}

}
@media only screen and ( max-width:500px ) {

    .text{
        width: 120px;
        height: 2vh;
        left: 2vw;
    }
    .logo {
        height: 120px;
        width: 74.4px;
    }
    .blobRight1-img{
        width: 200px;
        height:  183px;
        right: 0;
        bottom: -6vh;
    }
    .midBlob-img {
        width: 230px;
        height:120px;
        bottom: -10vh;
    right: 7vw;
    }
    
    .blobRight2-img{
        width: 150px;
        height:  320px;
        right: 0;
        bottom: -17vh;
    }
    .blobLeft1-img{
        width: 150px;
        height: 270px;
        bottom: -12vh;
    }
    .blobLeft2-img{
        width: 160px;
        height: 390px;
        bottom: -23vh;
    }
    
    }
    @media only screen and (max-height:600px) and (min-width:1000px){
        .text{
            width: 20vw;
        }
        .logo {
            height: 120px;
            width: 74.4px;
        }
        .coming-soon {
            height: 120px;
            width: 250px;
        }
        .midBlob-img {
           height: 40vh;
           width: 30vw;
           right: 8vw;
        }
        .blobRight1-img{
            bottom: -15vh;
            height: 50vh;
           width: 30vw;
        }
        
        .blobRight2-img{
            height: 60vh;
           width: 20vw;
           bottom: -15vh;
        }
        .blobLeft1-img{
            height: 50vh;
            width: 30vw;
            bottom: -15vh;
        }
        .blobLeft2-img{
           height: 70vh;
           bottom: -25vh;
           width: 33vw;
        }
        
    }
 
    

    @media only screen and (max-height:400px){
        .logo {
            height: 100px;
        width: 62px;
        }
        .coming-soon{
           height:  70px;
            width: 150px;
        }
.text{
    height: 8vh;
}
.midBlob-img {
    height: 40vh;
    width: 30vw;
    bottom: -40vh;
    right: 8vw;
 }

    }
    @media only screen and (max-height:500px){
        .midBlob-img {
            height: 30vh;
            width: 50vw;
            bottom: -20vh;
            right: 8vw;
         }
    }